
{{>header}}

<div class="col-md-6 container text-center mt-5 card bg-light">
<h1>Sign Up</h1>

<form action="/register" method="POST">
    <input type="text" name="username" class="form-control mb-1" placeholder="username">
    <input type="password" name="password" class="form-control mb-1" placeholder="password">
    <input type="submit" value="Sign Up" class="btn btn-block btn-dark mb-1">
</form>
</div>
{{>footer}}